{% extends 'base.html' %}

{% block title %}
Edit
{% endblock %}

{% block content %}

<h1>Edit User</h1>
<form method='POST'>
    <input type="text" name='first' placeholder='Enter First Name' value='{{user.first_name}}'>
    <input type="text" name='last' placeholder='Enter Last Name' value='{{user.last_name}}'>
    <input type="text" name='img' placeholder='Enter Image URL' value='{{user.image}}'>
    <button>Finish Edit</button>
    <button><a href="/users/{{user.id}}">Cancel</a></button>
</form>


{% endblock %}